*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body{
    background-color: rgb(33, 33, 33);
    min-height: 100svh;
}

/* main{
    padding: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 300px; 
    flex-wrap: wrap;
    gap: 40px;
    z-index: 99999999999999999999999999999999999999999;
} */