.Register-form{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 30px;
    gap: 40px;
    border: 1px rgb(81, 81, 81) solid;
    border-radius: 10px;
    color: rgb(209, 207, 207);
    box-shadow: 0px 0px 10px 10px rgba(10, 10, 10, 0.886);
    height: 600px;
    width: 400px;
    z-index: 9999999999999999999999999;
}
.error-message {
    color: red;
    display: none;
    z-index: 999999999999999999999999999999;
}

.show-error {
    display: block;
}

@media (max-width: 533px) { 
    .Register-form{
        gap: 40px;
        height: 550px;
        width: 300px;
        padding-top: 30px; 
    }
}